{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}
<header class="site-header outer {{#if cover_image}}" style="background-image: url({{cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            {{#if profile_image}}
                <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}
            <h1 class="site-title">{{name}}</h1>
            {{#if bio}}
                <h2 class="author-bio">{{bio}}</h2>
            {{/if}}
            <div class="author-meta">
                {{#if location}}
                    <div class="author-location">{{location}} <span class="bull">&bull;</span></div>
                {{/if}}
                <div class="author-stats hidden">
                    {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
                </div>
                {{#if website}}
                    <a class="social-link social-link-wb" href="{{website}}" target="_blank">{{> "icons/website"}}</a>
                {{/if}}
                {{#if twitter}}
                    <a class="social-link social-link-tw hidden" href="{{twitter_url}}" target="_blank">{{> "icons/twitter"}}</a>
                {{/if}}
                {{#if facebook}}
                    <a class="social-link social-link-fb hidden" href="{{facebook_url}}" target="_blank">{{> "icons/facebook"}}</a>
                {{/if}}
                <a class="social-link social-link-rss hidden" href="http://cloud.feedly.com/#subscription/feed/{{url absolute="true"}}/rss/" target="_blank">{{> "icons/rss"}}</a>
            </div>
        </div>
    </div>
</header>
{{/author}}